@use '../../styles/colors';

.modalContainer {
  background: rgba($color: #777, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal {
  background: colors.$background-color;
  border-radius: 10px;
  padding: 1rem;
  color: #ededed;
  text-align: center;
  position: relative;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
}

.close {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-bottom: 0.25rem;
}
