$background-color: #121213;
$cell-background-color: #4f4f4f;
$color-absent: #405069;
$color-present: #e0c02b;
$color-correct: #31ad23;
$key-background-color: #4f4f4f;
$alert-success: #3fbf62;
$alert-error: #ea4e2c;
