.statsBar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .statItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 200px;

    .value {
      font-size: 1.6rem;
      font-weight: 500;
      margin: 0;
      color: var(--color-text-primary);
    }

    .label {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--color-text-secondary);
    }
  }
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-text-primary);
}

.winDistribution {
  padding: 1rem;
}

.progress {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 1rem;

  .index {
    width: 20px;
    margin-right: 0.5rem;
  }

  .row {
    width: 100%;
  }

  .line {
    border-radius: 5px;
  }

  .blue {
    background: #189ccc;
  }

  .gray {
    background: #5d6061;
  }
}

.result {
  display: flex;
  padding: 0 2rem;

  .countDown {
    display: flex;
    flex-direction: column;
    flex: 1;

    .time {
      font-size: 1.4rem;
    }
  }

  .share {
    flex: 1;
    margin-left: 1rem;
  }

  button {
    background: #a01ef7;
    width: 100%;
    display: block;
    color: #fff;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.5rem 0;
  }
}
