.alertContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.alert {
  border-radius: 10px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: 'Poppins';
  font-weight: 500;
  text-align: center;
}

.success {
  background-color: var(--color-alert-success);
}

.error {
  background-color: var(--color-alert-error);
}
