@use './styles/colors';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: 'Baloo 2', sans-serif;
  background: colors.$background-color;
  color: #fff;
  min-height: 100vh;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
